<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :level %>
  <%= f.text_area :level %>
</div>

<div class="actions">
  <%= f.submit %>
</div>