<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_group.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @user_group.level %>
</p>

<%= link_to 'Edit', edit_admin_user_group_path(@user_group) %> |
<%= link_to 'Back', admin_user_groups_path %>
