<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<div class="field">
  <%= f.label :user_id %>
  <%= current_user.full_name %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
</div>

<div class="actions">
  <%= f.submit %>
</div>