<h2>Nouvel article</h2>

<%= form_for :article, url: articles_path do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />

    <%= f.label :content %>:
    <%= f.text_field :content %><br />

    <%= f.label :user %>:
    <%= f.collection_select :user_id, User.all, :id, :full_name, {:selected => current_user.id}, prompt: true %><br />

    <%= f.submit %>
<% end %>