<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :level %>
  <%= f.number_field :level %>
</div>

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th class="text-center">Entity</th>
    <th class="text-center">Create</th>
    <th class="text-center">Read</th>
    <th class="text-center">Update</th>
    <th class="text-center">Delete</th>
  </tr>
  </thead>
  <tbody>
  <%= f.fields_for :rights, @user_group.rights do |right| %>
      <tr>
        <td><%= right.object.base_entity.singular %></td>
        <td><%= right.check_box :right_create %></td>
        <td><%= right.check_box :right_read %></td>
        <td><%= right.check_box :right_update %></td>
        <td><%= right.check_box :right_delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="actions">
  <%= f.submit %>
</div>