<div class="row">
  <%= render @users %>
</div>
<% if !local_assigns[:pagination].nil? && pagination && @pages > 0 %>
    <nav aria-label="...">
      <ul class="pagination">
        <% if params[:page].to_i == 0 %>
            <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
        <% else %>
            <li>
              <%= link_to users_path(page: params[:page].to_i - 1) do %>
                  <span aria-hidden="true">&laquo;</span>
              <% end %>
            </li>
        <% end %>
        <% for i in 0..@pages %>
            <li class="<%= params[:page].to_i == i ? 'active' : '' %>">
              <%= link_to i + 1, users_path(page: i) %></a>
            </li>
        <% end %>
        <% if params[:page].to_i == @pages %>
            <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
        <% else %>
            <li>
              <%= link_to users_path(page: params[:page].to_i + 1) do %>
                  <span aria-hidden="true">&raquo;</span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </nav>
<% end %>
