<div class="field">
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :user_group %><br/>
  <%= f.collection_select :user_group_id, UserGroup.all, :id, :name %>
</div>

<div class="field">
  <%= f.label :email %><br/>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit %>
</div>