<%# add navigation links to this file %>
<li class='nav-item'><%= link_to t('main_menu.root'), root_path %></li>
<% if has_rights?('article', 'index') %>
    <li class='nav-item'><%= link_to t('main_menu.articles'), articles_path %></li>
<% end %>

<% if has_rights?('recipe', 'index') %>
    <li class='nav-item'><%= link_to t('main_menu.recipes'), recipes_path %></li>
<% end %>

<% if has_rights?('user', 'index') %>
    <li class='nav-item'><%= link_to t('main_menu.users'), users_path %></li>
<% end %>

<% if has_rights?('user_group', 'index') %>
    <li class='nav-item'><%= link_to t('main_menu.user_groups'), user_groups_path %></li>
<% end %>