<%# add navigation links to this file %>
<li class='nav-item'><%= link_to t('main_menu.root'), root_path %></li>
<li class='nav-item'><%= link_to t('main_menu.articles'), articles_path %></li>
<li class='nav-item'><%= link_to t('main_menu.recipes'), recipes_path %></li>
<li class='nav-item'><%= link_to t('main_menu.users'), users_path %></li>
<li class='nav-item'><%= link_to t('main_menu.user_groups'), admin_user_groups_path %></li>