<nav class="navbar">
  <ul class="nav nav-pills navbar-right">
    <%= render 'layouts/navigation_top_links' %>
  </ul>
</nav>
<%= render 'layouts/brand' %>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <%= render 'layouts/navigation_links' %>
  </ul>
</nav>

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th class="text-center">Entity</th>
    <th class="text-center">Create</th>
    <th class="text-center">Read</th>
    <th class="text-center">Update Self</th>
    <th class="text-center">Update Lesser Group</th>
    <th class="text-center">Update Actual Group</th>
    <th class="text-center">Update Upper Group</th>
    <th class="text-center">Delete Self</th>
    <th class="text-center">Delete Lesser Group</th>
    <th class="text-center">Delete Actual Group</th>
    <th class="text-center">Delete Upper Group</th>
  </tr>
  </thead>
  <tbody>
  <% current_user.user_group.rights.each do |right| %>
      <tr>
      <tr>
        <td><%= right.base_entity.singular %></td>
        <td><%= right.right_create %></td>
        <td><%= right.right_read %></td>
        <td><%= right.right_update_self %></td>
        <td><%= right.right_update_lesser_group %></td>
        <td><%= right.right_update_actual_group %></td>
        <td><%= right.right_update_upper_group %></td>
        <td><%= right.right_delete_self %></td>
        <td><%= right.right_delete_lesser_group %></td>
        <td><%= right.right_delete_actual_group %></td>
        <td><%= right.right_delete_upper_group %></td>
      </tr>
      </tr>
  <% end %>
  </tbody>
</table>

